<%- include("header"); -%> 

<h2>today is great day</h2>
<p> I was 5 and he was 6, we rode on horse made of sticks, I wore black and he wore white, he would always win the fight, BANG BANG, he shot me down, BANG BANG, I hit the ground, BANG BANG, an awful sound, BANG BANG, my baby shot me down.</p>

<%- include("footer"); -%> 